h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

body{
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

a, a:hover{
    text-decoration: none;
}
.btn-glow.primary {
    border-color: #2480c2;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.35) 0 1px 0;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
    background: #54b3ff;
    background: -moz-linear-gradient(top, #54b3ff 0%, #0078d9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54b3ff), color-stop(100%, #0078d9));
    background: -webkit-linear-gradient(top, #54b3ff 0%, #0078d9 100%);
    background: linear-gradient(#54b3ff, #0078d9);
    background: -o-linear-gradient(top, #54b3ff 0%, #0078d9 100%);
    background: -ms-linear-gradient(top, #54b3ff 0%, #0078d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b3ff', endColorstr='#0078d9',GradientType=0 );
}
.btn-glow {
    font-size: 13px;
    border-radius: 4px;
    color: #333;
    padding: 5px 10px;
    text-align: center;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 0px 0px #cccccc;
    display: inline-block;
    border: 1px solid #e5e5e5;
    vertical-align: middle;
    cursor: pointer;
    background: #ffffff;
    background: -moz-linear-gradient(top, white 0%, #eef0f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eef0f1));
    background: -webkit-linear-gradient(top, white 0%, #eef0f1 100%);
    background: -o-linear-gradient(top, white 0%, #eef0f1 100%);
    background: -ms-linear-gradient(top, white 0%, #eef0f1 100%);
    background: linear-gradient(to bottom, white 0%, #eef0f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eef0f1',GradientType=0 );
}

.login-bg {
    background: url("../img/landscape.jpg") no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bgs/landscape.html', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bgs/landscape.jpg', sizingMethod='scale')";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-wrapper {
    top: 90px;
    left: 0;
    right: 0;
    text-align: center;
}
.login-wrapper .logo {
    margin-bottom: 45px;
    position: relative;
    left: -2px;
}
.login-wrapper .box {
    margin: 0 auto;
    padding: 35px 0 30px;
    float: none;
    width: 400px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.65);
}
.login-wrapper .box .content-wrap {
    width: 82%;
    margin: 0 auto;
}
.login-wrapper .box h6 {
    text-transform: uppercase;
    margin: 0 0 30px 0;
    font-size: 18px;
    font-weight: 600;
}
.login-wrapper .box input[type="text"],
.login-wrapper .box input[type="password"] {
    font-size: 15px;
    height: 40px;
    margin-bottom: 18px;
    border-color: #b2bfc7;
    padding-left: 12px;
}
.login-wrapper .box input[type="password"] {
    margin-bottom: 18px;
}
.login-wrapper .box input:-moz-placeholder {
    color: #9ba8b6;
    font-size: 15px;
    letter-spacing: 0px;
    font-style: italic;
}
.login-wrapper .box input:-ms-input-placeholder {
    color: #9ba8b6;
    font-style: italic;
    letter-spacing: 0px;
    font-size: 15px;
}
.login-wrapper .box input::-webkit-input-placeholder {
    color: #9ba8b6;
    font-style: italic;
    letter-spacing: 0px;
    font-size: 15px;
}
.login-wrapper .box a.forgot {
    display: block;
    text-align: right;
    font-style: italic;
    text-decoration: underline;
    color: #3d88ba;
    font-size: 13px;
    margin-bottom: 6px;
}
.login-wrapper .box .remember {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}
.login-wrapper .box .remember input[type="checkbox"] {
    float: left;
    margin-right: 8px;
}
.login-wrapper .box .remember label {
    float: left;
    color: #4a576a;
    font-size: 13px;
    font-weight: 600;
}
.login-wrapper .box .login {
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 30px;
}
.login-wrapper .no-account {
    margin: 0 auto;
    float: none;
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
}
.login-wrapper .no-account p {
    display: inline-block;
    color: #aaaaaa;
}
.login-wrapper .no-account a {
    color: #aaaaaa;
    margin-left: 7px;
    border-bottom: 1px solid;
    transition: all .1s linear;
    -moz-transition: all .1s linear;
    /* Firefox 4 */
    -webkit-transition: all .1s linear;
    /* Safari and Chrome */
    -o-transition: all .1s linear;
    /* Opera */
}
.login-wrapper .no-account a:hover {
    text-decoration: none;
    color: #fff;
    border-bottom-color: #fff;
}

/* background switcher */
.bg-switch {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    top: 60px;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 10px 0px 10px;
    z-index: 999;
}
.bg-switch .bgs .bg {
    text-align: center;
    margin-bottom: 13px;
    text-decoration: none;
    display: block;
}
.bg-switch .bgs .bg.active img {
    border-color: #000;
}
.bg-switch .bgs .bg img {
    width: 80px;
    height: 60px;
    border: 2px solid #9fcef1;
    cursor: pointer;
}

/* responsive */
@media (max-width: 767px) {
    .login-wrapper .box {
        width: 350px;
    }
}
@media (max-width: 480px) {
    .login-wrapper .box {
        width: 90%;
    }
}

.logo-area{
    text-align: center;
    padding-bottom: 15px;
}

.logo-area img{
    height: 50px;
}

#createAccount{
    display: none;
    padding-bottom: 25px;
}

#createAccount img{
    height: 50px;
}
#createAccount h4{
    color: #CCC;
    font-size: 16px;
}

.error-message{
    font-size: 13px;
    color: #a94442;
    text-align: left;
    font-weight: 500;
    font-style: italic;
}

.submit{
    margin-top: 20px;
}

.flash-area {
    margin: 0 auto;
    padding: 0px 0 0px;
    float: none;
    width: 400px;
}

.new-box{
    padding-top: 150px;
}

.user-role{
    text-align: left;
}

.user-role label{
    font-style: italic;
    color: #525252;
    font-size: 13px;
}