div#message-box {
    display: none;
    position: absolute;
    width: 450px;
    top: 20px;
    right: 10px;
    z-index: 99999;
    padding: 15px;
    border-radius: 5px;
}

.tDnD_whileDrag td, .tDnD_whileDrag td a {
    color: #3c763d !important;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.blockUI h1 {
    font-size: 11px;
    color: #777;
    font-weight: 700;
    line-height: 0px;
    margin: 0px;
    padding: 10px;
}

.blockPage {
    z-index: 1011;
    position: fixed;
    padding: 0px;
    margin: 0px;
    width: 20% !important;
    top: 40%;
    left: 40% !important;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(170, 170, 170);
    cursor: wait;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.tt-dataset-states div{
    margin: 0px;
    line-height: 0px;
    padding: 10px 15px 0px 15px;
    border-bottom: 1px solid #DDD;
    font-style: italic;
    font-size: 12px;
}


.tt-dataset-states div:nth-child(2n+1){
    background: #f8f8f8 !important;
    margin: 0px;
    line-height: 0px;
}



.ui-258 {
    z-index: 1111;
}

form.searchTransactionForm {
    margin-top: 150px;
    width: 100%;
}

.searchTransactionForm input{
    float: left;
    width: 84%;
    height: 55px;
    line-height: 51px;
    padding: 0px 15px;
    border-radius: 5px;
    font-size: 20px;
    color: #353535;
    border: 2px solid #353535;
    text-transform: uppercase;
}

.searchTransactionForm a{
    float: right;
    width: 14%;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    background-color: #89ad55;
    border-color: #6f8e40;
    text-shadow: none;
    height: 55px;
    border: 1px solid #6f8e40;
    border-radius: 3px;
    text-transform: uppercase;
    margin-top: 0px;
    line-height: 55px;
}

.green-form{
    border: 2px solid #6f8e40 !important;
    color: #6f8e40 !important;
}

.red-form {
    border: 2px solid #d9534f !important;
    color: #d9534f !important;
}

.datepicker > div {
    width: 250px;
}

.datepicker td span {
    width: 23% !important;
    text-transform: uppercase;
}

.fc-time-grid-event .fc-resizer {
    top: 0;
    height: 30px !important;
}
.fc-view-container *, .fc-view-container *:before, .fc-view-container *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hover-end{
    padding-top: 0px;
    padding-right: 5px !important;
    font-size: 8px;
    margin: 0;
    top: 0px;
    color: #FFF !important;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hover-end .icon {
    color: #FFF !important;
    margin-left: 5px;
    font-size: 10px;
}

.appointment-status-label{
    position: absolute;
    left: 10px;
    bottom: 20px;
}

.sm-circle{
    position: absolute;
    left: 17px;
    bottom: 17px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    line-height: 22px;
    float: right;
    margin-top: 10px;
    margin-left: 3px;
}

.sm-circle-scheduled {
    position: absolute;
    left: 40px;
    bottom: 17px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    line-height: 22px;
    float: right;
    margin-top: 10px;
    margin-left: 3px;
}

.sm-circle-green{
    background: yellowgreen;
}

.sm-circle-orange{
    background: darkorange;
}

.sm-circle-red{
    background: #d9534f;
}

.sm-circle-yellow{
    background: #FFCC00;
    color: #333;
}

.sm-circle-gold{
    background: #b17630;
}

.fc-time-grid-event .fc-resizer {
    cursor: pointer !important;
}

.paid-lesson {
    font-size: 12px !important;
    position: absolute;
    bottom: 17px;
    left: -3px;
    font-weight: 600;
    background: rgb(60, 118, 61);
    color: #FFF;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50px;
}

.fc-time-grid-event > .fc-content {
    position: relative;
    z-index: 2;
    padding: 5px;
}

.pay-at-facility-label{
    position: absolute;
    right: 5px;
    bottom: 15px;
    text-transform: uppercase;
    background: #000;
    font-size: 12;
    font-weight: 600 !important;
}

.grey {
    color: #999 !important;
}
.black {
    color: #555555 !important;
}
.red {
    color: #f75353 !important;
}

.yellowgreen {
    color: yellowgreen !important;
}
.lblue {
    color: #32c8de !important;
}
.blue {
    color: #609cec !important;
}
.orange {
    color: #f78153 !important;
}
.yellow {
    color: #fcd419 !important;
}
.purple {
    color: #cb79e6 !important;
}
.rose {
    color: #ff61e7 !important;
}
.brown {
    color: #d08166 !important;
}

.status-text{
    text-transform: uppercase;
    font-size: 12px;
}

.appointment-status-for-box{
    position: absolute;
    bottom: 10px;
    left: 5px;
}

.fc-time-grid-event .fc-title {
    line-height: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .blockUI h1 {
        font-size: 10px;
        color: #777;
        font-weight: 500;
        line-height: 0px;
        margin: 0px;
        padding: 10px;
    }

    .blockPage {
        z-index: 1011;
        position: fixed;
        padding: 0px;
        margin: 0px;
        width: 40% !important;
        top: 40%;
        left: 30% !important;
        text-align: center;
        color: rgb(0, 0, 0);
        border: 3px solid rgb(170, 170, 170);
        cursor: wait;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }
}

@media (max-width: 767px) {

    div#message-box {
        display: none;
        position: absolute;
        width: 90%;
        left: 5%;
        top: 20px;
        z-index: 99999;
        padding: 15px;
        border-radius: 5px;
    }

    .blockUI h1 {
        font-size: 10px;
        color: #777;
        font-weight: 500;
        line-height: 0px;
        margin: 0px;
        padding: 10px;
    }

    .blockPage {
        z-index: 1011;
        position: fixed;
        padding: 0px;
        margin: 0px;
        width: 90% !important;
        top: 40%;
        left: 5% !important;
        text-align: center;
        color: rgb(0, 0, 0);
        border: 3px solid rgb(170, 170, 170);
        cursor: wait;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }

    .sm-circle {
        position: absolute;
        right: 26px;
        top: -13px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: inline-block;
        color: #fff;
        font-size: 10px;
        font-weight: 600;
        text-align: center;
        line-height: 27px;
        margin-top: 10px;
        margin-left: 3px;
    }

    .color_fieldset .media-left{
        width: 100% !important;
    }

    .color_fieldset  .media-body{
        width: 100%;
        padding-top: 10px;
    }

    .fc-time-grid-event .fc-title {
        font-size: 7px;
    }

    .appointment-status-for-box {
        font-size: 6px;
    }

    .paid-lesson {
        color: rgb(60, 118, 61);
        font-size: 11px;
        position: absolute;
        left: auto;
        top: 15px;
        right: 8px !important;
        font-weight: 600;
    }

    .pay-at-facility-label {
        position: absolute;
        right: 6px;
        bottom: 21px;
        text-transform: uppercase;
        background: #000;
        font-weight: 600 !important;
    }

}

@media (max-width: 480px) {

}

.color-box{
    width: 50px;
    height: 50px;
    background: #DDD;
}

.media {
    background: #FFF;
    padding: 15px;
    border: 1px #EEE solid;
}

.media-left.media-bottom {
    float: left;
    margin-right: 15px;
}

.media-heading {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    padding: 0px;
    font-weight: bold;
    color: #525252;
}

.table td:last-child,
.table th:last-child{
    text-align: right;
}

.block_time_list li{
    color: #a94442;
}

.block_time_box {
    font-size: 100px;
    position: absolute;
    right: 57px;
    top: 25px;
}

.width-100-p{
    width: 100%;
}

.shopping_cart_btn{
    font-size: 25px !important;
}

.label {
    display: inline;
    padding: 3px 5px 2px 5px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    font-family: Overlock;
    text-transform: uppercase;
}

.btn {
    font-family: 'Roboto Condensed', sans-serif !important;
}

.d-btn {
    color: #6f8e40;
    margin-right: 0px;
    padding: 2px 7px;
    font-size: 9px;
    font-weight: 700;
    background-color: #ededed;
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #dcdcdc;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}

.page-option .btn {
    text-transform: uppercase;
}

.page-option .dropdown-menu>li>a {
    display: block;
    padding: 5px 20px;
    clear: both;
    line-height: 1.42857143;
    color: #89AD55;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 14px;
}

.page-option .dropdown-menu>li>a:first-child {
    margin-top: 5px;
}

.page-option .dropdown-menu>li>a:last-child {
    margin-bottom: 5px;
}


.color_fieldset{
    margin: 0px 0px 15px 0px;
    border-top: 1px solid #cccccc !important;
}


.color_fieldset legend{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
    font-style: normal;
}

.rechsuduled-label{
    position: absolute;
    right: 5px;
    bottom: 35px;
    text-transform: uppercase;
    background: #000;
    font-weight: 600 !important;
}

.fc-time-grid-event .fc-title {
    text-transform: none;
    line-height: 15px;
    font-weight: 300;
}

.fc-time-grid-event .fc-time {
    font-size: 12px !important;
    font-weight: 600;
}

.static{
    position: static !important;
    float: none;
}


.color_fieldset .media-heading{
    line-height: 20px;
}


.color_fieldset .media-left{
    width: 140px;
}

/*
For rating Star
*/

.br-theme-fontawesome-stars .br-widget {
    height: 28px;
}
.br-theme-fontawesome-stars .br-widget a {
    font: normal normal normal 18px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
    content: '\f005';
    color: #dddddd;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
    color: #ffdf88;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
    color: #ffdf88;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
    display: none;
}
