.signup .box {
    margin: 0 auto;
    padding: 35px 0 30px;
    float: none;
    width: 100%;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.65)
}


.signup .box .content-wrap {
    width: 90%;
    margin: 0 auto;
}

.social_login{
    margin-top: 50px;
}

.social_login_btn{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 15px;
}


.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 42px !important;
    line-height: 43px !important;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 56px !important;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
