/*===== Common CSS =====*/

body {
    color: #777;
    background: #f6f6f6;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300 !important;
}

.u-p {
    text-transform: uppercase !important;
}

.u-l {
    text-transform: lowercase !important;
}

a {
    color: #525252;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

a:hover {
    color: #333;
    text-decoration: none;
}

a:focus, a:active {
    color: #333;
    outline: none;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

p {
    font-size: 14px;
    line-height: 28px;
}

.radius-5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.radius-2 {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-25 {
    margin-right: 25px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-25 {
    margin-left: 25px;
}

.margin-0 {
    margin: 0px;
}

.padding-0 {
    margin: 0px;
}

.padding-15 {
    margin: 15px;
}

.w-color {
    color: #FFF !important;
}

.flash-msg {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.alert {
    border-radius: 0px;
}

/*===== /Common CSS =====*/

/*===== HEADER AREA =====*/
.header {

}

.navbar {
    border-radius: 0px;
}

.navbar-inverse {
    background-color: #89ad55;
    border-color: #6f8e40;
    border-bottom: 0px;
    border-top: 0px;
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
    font-weight: 300;
    font-size: 12px;
}

.navbar-brand {
    height: auto !important;
    padding: 5px 15px;
}



.navbar-brand img {
    height: 70px;
    margin: auto 15px;
}

.navbar-collapse {
    max-height: 1000px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #6f8e40;
    color: #fff;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #555;
    text-decoration: none;
    outline: 0;
    background-color: #f8f8f8;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-toggle {
    margin-top: 25px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #6f8e40;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #6f8e40 !important;
}

.navigation > li > .dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.navigation > li > .dropdown-menu li {
    border-right: none;
    border-left: none;
}

.navigation > li > .dropdown-menu li > a {
    color: #555;
    font-size: 12px;
    padding: 10px 15px;
    border-bottom: 1px solid #DDD;
}

.navigation > li .profile-dropdown {
    width: 184px;
}

.navigation > li .profile-dropdown li a {
    padding: 25px 15px;
    border-bottom: 1px solid #DDD;
}

/*===== /HEADER AREA =====*/

/*===== Short Notification =====*/
.badge-notify {
    background: red;
    position: relative;
    top: -10px;
    left: -10px;
    padding: 3px 6px;
    font-weight: normal;
    font-size: 10px;
}

.short-notification-area {
    box-shadow: none;
    border: 0px;
}

.short-notification {
    background: #FFF;
    border: 1px solid #DDD;
    box-shadow: none;
    width: 400px;
}

.short-notification-header {
    background: #f8f8f8;
    padding: 15px;
    border-bottom: 1px solid #DDD;
}

.short-notification ul {
    margin: 0px;
    padding: 0px;
}

.short-notification ul li a {
    color: #6f8e40;
    text-decoration: none;
    padding: 0px !important;
}

.short-notification ul li p {
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 0px;
}

.short-notification .media {
    margin-top: 0px;
    padding: 15px;
}

.short-notification .media {
    border-bottom: 1px solid #DDD;
}

.short-notification .media:last-child {
    border-bottom: none;
}

/*===== /Short Notification =====*/

/*===== SIDEBAR AREA =====*/
.sidebar {
    background: #222;
    min-height: 767px;
}

.sidebar .nav-list a {
    font-size: 12px;
    color: #FFF;
    border-top: 1px solid #101010;
    border-bottom: 1px solid #353535;
}

.sidebar .nav-list li:last-child a {
    color: #FFF;
    border-top: 1px solid #101010;
    border-bottom: none;
}

.sidebar .nav-list a:hover {
    background: #222;
}

.sidebar .nav-list a .glyphicon {
    font-size: 10px;
    line-height: 20px;
    font-weight: normal !important;
}

.sidebar .submenu {
    background: #222;
}

.sidebar .submenu li a {
    background: #252525;
    font-size: 11px;
    font-weight: 300 !important;
}

.sidebar .submenu li:last-child a {
    border-bottom: 1px solid #353535;
}

.open-sidebar {
    position: absolute;
    border-radius: 0px;
    border: 0px;
    color: #6f8e40;

}

.arrow {
    float: right;
}

.glyphicon.arrow:before {
    content: "\e079";
}

.active > a > .glyphicon.arrow:before {
    content: "\e114";
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.plus-times {
    float: right;
}

.fa.plus-times:before {
    content: "\f067";
}

.active > a > .fa.plus-times {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.plus-minus {
    float: right;
}

.fa.plus-minus:before {
    content: "\f067";
}

.active > a > .fa.plus-minus:before {
    content: "\f068";
}

/*===== /SIDEBAR AREA =====*/

/*===== Utilities =====*/

.title-lg {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}

.btn {
    border-radius: 3px;
}

.btn-theme-bold {
    padding: 8px 20px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    background-color: #89ad55;
    border-color: #6f8e40;
    text-shadow: none;
}

.btn-theme-bold:hover {
    color: #FFF;
    background-color: #6f8e40;
    border-color: #5b7a29;
}

.btn-theme {
    padding: 8px 20px;
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
    background-color: #89ad55;
    border-color: #6f8e40;
    text-shadow: none;
}

.btn-theme:hover {
    color: #FFF;
    background-color: #6f8e40;
    border-color: #5b7a29;
}

.btn-theme-square {
    padding: 8px 20px;
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
    background-color: #89ad55;
    border-color: #6f8e40;
    text-shadow: none;
    border-radius: 0px;
}

.btn-theme-square:hover {
    color: #FFF;
    background-color: #6f8e40;
    border-color: #5b7a29;
}

.btn-gray {
    margin-right: 0px;
    padding: 5px 12px;
    color: #777777;
    font-size: 11px;
    font-weight: 500;
    background-color: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #dcdcdc;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}

.btn-gray-lg {
    margin-right: 0px;
    padding: 8px 12px;
    color: #777777;
    font-size: 12px;
    font-weight: 600;
    background-color: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #dcdcdc;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}

.btn-gray-lg:hover {
    color: #6f8e40;
    background-color: #dfdfdf;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    text-decoration: none;
}

.btn-gray:hover {
    color: #6f8e40;
    background-color: #dfdfdf;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    text-decoration: none;
}

.btn-black {
    padding: 8px 20px;
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
    background: #222;
    border: 1px solid #000;
    text-shadow: none;
    border-radius: 0px;
}

.btn-black:hover {
    color: #FFF;
    background: #333;
    border: 1px solid #000;
}

.btn-black-radius {
    padding: 8px 20px;
    color: #FFF;
    font-size: 11px;
    font-weight: normal;
    background: #222;
    border: 1px solid #000;
    text-shadow: none;
}

.btn-black-radius:hover {
    color: #FFF;
    background: #333;
    border: 1px solid #000;
}

.btn-black-small {
    padding: 3px 5px;
    color: #FFF;
    font-size: 11px;
    font-weight: normal;
    background: #222;
    border: 1px solid #000;
    text-shadow: none;
    border-radius: 0px;
}

.btn-black-small:hover {
    color: #FFF;
    background: #333;
    border: 1px solid #000;
}

.short-title {
    color: #6f8e40;
    font-size: 14px;;
}

.align-center {
    text-align: center;
}

.italic-md {
    font-size: 11px;
    font-style: italic;
}

.field-empty {
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    color: #a94442 !important;
}

.pro-img-sm {
    width: 35px;
    height: 35px;
}

.pro-img-md {
    width: 50px;
}

.icons-area .icon {
    margin: 3px;
    font-size: 14px;
    font-weight: bold;
}

.shadow-line {
    margin: 0px 0px 15px 0px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #ffffff;
}

hr {
    margin-top: 0px;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

.heading-sm {
    font-size: 12px;
    margin: 5px 0px 0px 0px;
    padding-bottom: 10px;
}

.normal-list {
    font-size: 12px;
    font-weight: 500;
}

.normal-list li {
    margin-bottom: 10px;
}

.italic-md {
    color: #999;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
}

.italic-sm {
    color: #999;
    font-weight: 400;
    font-size: 11px;
    font-style: italic;
    line-height: 18px;
}

.note {
    margin: 10px 0px;
    color: #d9534f;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
}

fieldset {
    color: #777;
    width: 100%;
    border: 1px solid #ddd !important;
    padding: 15px 15px 15px 15px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 0px 0px #EEE;
    box-shadow: 0px 0px 0px 0px #EEE;
}

legend {
    color: #777;
    font-size: 15px;
    font-weight: 400;
    text-align: left !important;
    font-style: italic;
    width: auto;
    padding: 0 10px;
    margin-bottom: 15px;
    border-bottom: none;
}

.form-list {
    margin: 0px;
    padding: 0px;
}

.form-list li {
    margin-bottom: 20px;
    font-size: 12px;
}

.form-list li input {
    text-align: center;
    border: 1px solid #EEE;
    padding: 0px 10px;
    width: 50px;
    height: 30px;
}

.input-black {
    color: #FFF;
    background: #222;
}

.input-gray {
    color: #777;
    background: #f8f8f8;
}

.input-red {
    color: #FFF;
    background: #d9534f;
}

.input-warning {
    color: #FFF;
    background: #f0ad4e;
}

.input-info {
    color: #FFF;
    background: #5bc0de;
}

.input-green {
    color: #FFF;
    background: #5cb85c;
}

.img-profile {
    text-align: center;
}

.img-profile img {
    border: 5px solid #DDD;
    width: 170px;
}

.data-list {
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    list-style: none;
    font-family: helvetica, arial, sans-serif;
}

.data-list li {
    color: #777;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
}

.data-list strong {
    font-size: 12px;
    margin-right: 1px;
}

.data-list b {
    font-size: 12px;
}

.data-list li a {
    color: #6f8e40;
}

.data-list li p {
    margin-top: 10px;
    line-height: 16px;
    font-size: 12px;
}

.data-list .btn {
    color: #FFF;
}

.data-list-border li {
    border-bottom: 1px solid #CCC;
    padding: 10px 0px;
}

.data-list-border li:last-child {
    border-bottom: none;
}

.navigation-list {
    margin: 0px;
    padding: 0px;
    margin-top: 25px;
}

.navigation-list li a {
    border-bottom: 1px solid #EEE;
    color: #777;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
}

.recommended-resources {
    margin-bottom: 30px;
}

.recommended-resources:last-child {
    margin-bottom: 0px;
}

.recommended-resources .media-heading {
    color: #6f8e40;
    font-size: 12px;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    line-height: 16px;
    cursor: pointer;
}

.recommended-resources .media-object {
    max-width: 60px;
}

.recommended-resources .btn {
    margin-top: 10px;
    color: #FFF;
    padding-left: 7px;
    padding-left: 7px;
}

.name-lg {
    font-size: 24px;
    color: #555;
}

.payment-complete, .payment-complete:hover {
    border: 2px solid #89ad55;
    border-radius: 5px;
    color: #89ad55;
    padding: 10px 15px;
    font-weight: 600;
}

.payment-cancelled, .payment-cancelled:hover {
    border: 2px solid #d9534f;
    border-radius: 5px;
    color: #d9534f;
    padding: 10px 15px;
    font-weight: 600;
}

.payment-pending, .payment-pending:hover {
    border: 2px solid #f0ad4e;
    border-radius: 5px;
    color: #f0ad4e;
    padding: 10px 15px;
    font-weight: 600;
}

.fly-edit {
    position: absolute;
    right: -12px;
    top: -10px;
    padding: 3px 5px;
    color: #888;
    border: 1px solid #DDD;
    background: #f8f8f8;
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
}

.error-message {
    padding-top: 0px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    color: #a94442;
}

.not-found {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    color: #a94442;
}

.fly-edit-button {
    position: absolute;
    right: 15px;
    padding: 3px 5px;
    color: #888;
    border: 1px solid #DDD;
    background: #f8f8f8;
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
}

.label-gray {
    background: lightslategray;
}

.label-orange {
    background: darkorange;
}

.label-light-red {
    background: lightcoral;
}

.label-light-green {
    background: yellowgreen;
}

.status-button {
    background: transparent;
    padding: 5px 12px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 16px;
}

.status-gray {
    border: 2px solid lightslategray;
    color: lightslategray;
}

.status-info {
    border: 2px solid #5bc0de;
    color: #5bc0de;
}

.status-orange {
    border: 2px solid darkorange;
    color: darkorange;
}

.status-green {
    border: 2px solid yellowgreen;
    color: yellowgreen;
}

.status-success {
    border: 2px solid #5cb85c;
    color: #5cb85c;
}

.status-red {
    border: 2px solid lightcoral;
    color: lightcoral;
}

.status-danger {
    border: 2px solid #d9534f;
    color: #d9534f;
}


.sort-table thead th a:after {
    content: '  ⇡⇣';
    color: #92AE67;
    font-size: 12px;
    font-weight: bold;
}

.sort-table thead th a.asc:after {
    content: ' ⇣';
    color: #525252;
}

.sort-table thead th a.desc:after {
    content: ' ⇡';
    color: #525252;
}
/*=====/ Utilities =====*/

/*====== Social Media Icon ======*/
.social-media-list {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.btn-social, .btn-social:hover {
    font-size: 16px;
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 220px;
    padding: 10px 20px;
    color: #FFF !important;
    text-shadow: 0px 1px 1px #333;
    letter-spacing: 0.5px;
}

.facebook {
    background-color: #6B86BC;
    background-image: -moz-linear-gradient(#6B86BC, #364F83);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6B86BC), to(#364F83));
    background-image: -webkit-linear-gradient(#6B86BC, #364F83);
    background-image: -o-linear-gradient(#6B86BC, #364F83);
    border: 1px solid #364F83;
}

.facebook:hover {
    background-color: #364F83;
    background-image: -moz-linear-gradient(#4C6AAA, #364F83);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C6AAA), to(#364F83));
    background-image: -webkit-linear-gradient(#4C6AAA, #364F83);
    background-image: -o-linear-gradient(#4C6AAA, #364F83);
    border: 1px solid #243559;
}

.twitter {
    background-color: #85CDE9;
    background-image: -moz-linear-gradient(#85CDE9, #2291BE);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85CDE9), to(#2291BE));
    background-image: -webkit-linear-gradient(#85CDE9, #2291BE);
    background-image: -o-linear-gradient(#85CDE9, #2291BE);
    border: 1px solid #2291BE;
}

.twitter:hover {
    background-color: #2291BE;
    background-image: -moz-linear-gradient(#50B3DB, #2291BE);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#50B3DB), to(#2291BE));
    background-image: -webkit-linear-gradient(#50B3DB, #2291BE);
    background-image: -o-linear-gradient(#50B3DB, #2291BE);
    border: 1px solid #2291BE;
}

.linkedin {
    background-color: #007bb6;
    background-image: -moz-linear-gradient(#007bb6, #0173a8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007bb6), to(#0173a8));
    background-image: -webkit-linear-gradient(#007bb6, #0173a8);
    background-image: -o-linear-gradient(#007bb6, #0173a8);
    border: 1px solid #0173a8;
}

.linkedin:hover {
    background-color: #0173a8;
    background-image: -moz-linear-gradient(#046189, #0173a8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#02567c), to(#0173a8));
    background-image: -webkit-linear-gradient(#046189, #0173a8);
    background-image: -o-linear-gradient(#046189, #0173a8);
    border: 1px solid #0173a8;
}

.google {
    background-color: #dc4937;
    background-image: -moz-linear-gradient(#dc4937, #d13a29);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dc4937), to(#d13a29));
    background-image: -webkit-linear-gradient(#dc4937, #d13a29);
    background-image: -o-linear-gradient(#dc4937, #d13a29);
    border: 1px solid #d13a29;
}

.google:hover {
    background-color: #ad2925;
    background-image: -moz-linear-gradient(#ad2925, #aa302e);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ad2925), to(#aa302e));
    background-image: -webkit-linear-gradient(#ad2925, #aa302e);
    background-image: -o-linear-gradient(#ad2925, #aa302e);
    border: 1px solid #ad2925;
}

/*====== Social Media Icons =====*/

/*===== Plan Page =====*/
.plan {
    padding: 15px;
    border-bottom: 1px solid #DDD;
}

.plan-head {
    border-bottom: 1px solid #EEE;
    margin-bottom: 25px;
}

.plan-name {
    color: #6f8e40;
    padding-bottom: 10px;
    font-size: 18px;
}

.plan .data-list .fa {
    color: #5cb85c;
}

.plan-price {
    font-size: 12px;
    font-weight: 500;
}

/*===== /Plan Page =====*/

/*===== Confirmation Page =====*/
.confirm-page {
    text-align: center;
    padding: 100px 0px;
}

.confirm-page img {
    height: 100px;
}

.confirm-page h4 {
    font-size: 20px;
    color: #6f8e40;
    line-height: 28px;
}

/*=====/ Confirmation Page =====*/

/*===== Box =====*/
.box-small {
    padding: 15px;
    background: #FFF;
    margin-bottom: 25px;
    border: 1px solid #EEE;
}

.box-small .sm-title {
    margin: 0px;
    margin-bottom: 15px;
}

.box-small .data-list {
    margin-bottom: 0px;
}

.box {
    background: #FFF;
    margin-bottom: 25px;
    border: 1px solid #EEE;
}

.box-padding-normal {
    padding: 25px;
}

.box-padding-adding {
    padding: 50px 50px 30px 50px;
}

.box-title {
    color: #555;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
}

/*===== /Box =====*/

/*===== Graph/Chart ======*/
.graph {
    margin-bottom: 25px;
}

.graph-area {
    height: 250px;
}

.graph-header {
    margin-bottom: 25px;
}

.graph-title {
    font-size: 20px;
    color: #555;
    margin: 0px;
}

.morris-hover {
    position: absolute;
    z-index: 1000;
}

.morris-hover.morris-default-style {
    border-radius: 10px;
    padding: 6px;
    color: #666;
    background: rgba(255, 255, 255, 0.8);
    border: solid 2px rgba(230, 230, 230, 0.8);
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: bold;
    margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: 0.1em 0;
}

/* Stats chart */
#statsChart {
    width: 97%;
    height: 250px;
    margin-top: 65px;
}

/* specific chart styles */
.legendLabel {
    font-size: 12px;
    font-family: "Open Sans", Arial;
    color: #9da3a9;
}

#pad-wrapper .section {
    border-top: 1px solid #edeff1;
    margin-top: 70px;
    padding-top: 45px;
    box-shadow: inset 0px 3px 4px -1px #fafafa;
}

#pad-wrapper h4.title {
    margin-bottom: 45px;
}

#pad-wrapper .section .chart h5 {
    margin-bottom: 10px;
}

/*===== /Graph/Chart ======*/

/*===== Custom Widget =====*/
.widget {
    margin-bottom: 25px;
    background: #FFF;
    border: 1px solid #EEE;
}

.widget-header {
    font-size: 14px;
    padding: 15px;
}

.widget-body {

}

.widget-footer {
    padding: 15px;
}

.default-widget {
    border: 1px solid #EEE;
}

.default-widget .widget-header {
    color: #777;
    background: #f8f8f8;
    border-bottom: 1px solid #EEE;
}

.default-widget .widget-footer {
    color: #777;
    background: #f8f8f8;
    border-top: 1px solid #EEE;
}

.info-widget .widget-header {
    color: #FFF;
    background-color: #5bc0de;
    border-bottom: 1px solid #46b8da;
}

.info-widget .widget-footer {
    color: #FFF;
    background-color: #5bc0de;
    border-top: 1px solid #46b8da;
}

.black-widget .widget-header {
    color: #FFF;
    background-color: #222;
    border-bottom: 1px solid #000;
}

.black-widget .widget-footer {
    color: #FFF;
    background-color: #222;
    border-top: 1px solid #000;
}

.widget .table {
    font-size: 12px;
    margin-bottom: 0px;
}

.widget .table a {
    color: #428bca;
}

.widget .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

.widget .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #555;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.widget .table > thead > tr > th,
.widget .table > tbody > tr > th,
.widget .table > tfoot > tr > th,
.widget .table > thead > tr > td,
.widget .table > tbody > tr > td,
.widget .table > tfoot > tr > td {
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #EEE;
}

.widget .status .active {
    color: #5cb85c;
}

.widget .status .block {
    color: #d9534f;
}

.widget .status .suspend {
    color: #d9534f;
}

.widget .star5 i {
    color: #5cb85c;
}

.widget .star4 i {
    color: #428bca;
}

.widget .star3 i {
    color: #5bc0de;
}

.widget .star2 i {
    color: #f0ad4e;
}

.widget time {
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
}

.widget small {
    font-size: 11px;
    font-style: italic;
}

.widget a {
    color: #428bca;
}

.box-widget {
    margin-bottom: 30px;
    padding-top: 20px;
    height: 160px;
    background: #fff;
    text-align: center;
}

.box-widget-bar {
    border-bottom: 5px solid #6f8e40;
}

.box-widget h4 {
    font-size: 14px;
    margin: 0px;
    color: #999;
}

.box-widget h2 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.arrow-btn, .arrow-btn:hover {
    margin-top: 15px;
}

/*===== Custom Widget =====*/

/*======= Dashboard Page ========*/
.d-box {
    min-height: 300px;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    background: #FFF;
    border: 1px solid #EEE;
    margin-bottom: 15px;
    border-radius: 2px;
}

.d-box-md {
    min-height: 200px;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    background: #FFF;
    border: 1px solid #EEE;
    margin-bottom: 15px;
    border-radius: 2px;
}

.d-box-mini {
    min-height: 100px;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    background: #FFF;
    border: 1px solid #EEE;
    margin-bottom: 15px;
    border-radius: 2px;
}

.d-title {
    font-size: 16px;
    color: #777;
    margin: 0px;
    font-weight: 400;
}

.d-list {
    padding: 0px;
    margin: 0px;
    margin-top: 35px;
}

.d-list li {
    padding: 10px 0px;
    border-top: 1px solid #e2e2e2;
    font-weight: 400;
}

.d-list li a {
    color: #6f8e40;
}

.d-list li a:hover {
    color: #525252;
}

.d-not-found {
    cursor: pointer;
    color: #EEE;
    text-align: center;
    padding: 30px 0px;
    font-family: 'Overlock', cursive;
}

.d-not-found:hover,
.d-not-found:hover > .d-not-meg {
    color: #d9534f;
}

.d-not-meg {
    color: #999;
    font-size: 24px;
    margin-top: 15px;
}

.d-not-icon {
    font-size: 150px;
}

.d-not-icon:hover {
    font-size: 150px;
}

.d-badge {
    min-width: 20px;
    text-align: center;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 600;
    padding: 3px 3px 0px 3px;
    color: #fff;
}

.d-badge-gray {
    background: lightslategray;
}

.d-badge-info {
    background: #5bc0de;
}

.d-badge-orange {
    background: darkorange;
}

.d-badge-green {
    background: yellowgreen;
}

.d-badge-purple {
    background: #807198;
}

.d-badge-success {
    background: #5cb85c;
}

.d-badge-red {
    background: lightcoral;
}

.d-badge-danger {
    background: #d9534f;
}

.d-btn {
    font-family: 'Roboto', sans-serif;
    color: #6f8e40;
    margin-right: 0px;
    padding: 2px 7px;
    font-size: 11px;
    font-weight: 500;
    background-color: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #dcdcdc;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}

.d-btn:hover {
    color: #777777;
    background-color: #dfdfdf;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    text-decoration: none;
}

.see-more {
    position: absolute;
    right: 30px;
    bottom: 30px;
    text-transform: uppercase;
    text-align: right;
    font-size: 11px;
    font-weight: 500;
    text-shadow: none;
}

.see-more a {
    color: #999;
}

.see-more a:hover {
    color: #6f8e40;
}

/*======= /Dashboard Page ========*/

/*===== Control Panel =======*/
.control-panel{

}

.control-panel .element{
    display: inline-block;
}
/*===== Control Panel =======*/

/*===== Scoring Box =====*/
.scoring-box {
    background: #f8f8f8;
    border: 1px solid #f1f1f1;
    padding-bottom: 10px;
}

.scoring-title {
    font-size: 12px;
    font-weight: 500;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid #DDD;
}

.scoring-body {
    padding: 10px;
    background: #FFF;
}

.scoring-body .form-control {
    margin-bottom: 0px;
}

.scoring-body .progress {
    height: 15px;
    margin-bottom: 10px;
    border-radius: 0px;
}

.scoring-img-bundle {
    width: 99%;
    margin: 15px 0px;
    text-align: center;
}

.scoring-img {
    width: 28%;
    background: #EEE;
    padding-left: 3px;
    border: 1px solid #DDD;
    margin: 5px;
}

.scoring-single-img .scoring-img {
    width: 100%;
    margin: 15px 0px;
    text-align: center;
    padding: 0px;
    border: 0px;
}

/*===== / Scoring Box =====*/

/*===== Table =====*/
.table {
    font-size: 12px;
    margin-bottom: 0px;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #555;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #EEE;
}

.status .active {
    color: #5cb85c;
}

.status .block {
    color: #d9534f;
}

.status .suspend {
    color: #d9534f;
}

/*===== /Table =====*/

/*===== Data Table =====*/
.data-table {
    background: #f8f8f8;
}

.data-table thead {
    background: #b4cc90;
}

.data-table thead tr th {
    padding: 15px 10px !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #222;
    border-color: #222;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #FFF;
    font-size: 11px;
    cursor: not-allowed;
    background-color: #89ad55;
    border-color: #6f8e40;
}

.pagination > li > a, .pagination > li > span {
    color: #fff;
    font-size: 11px;
    background-color: #89ad55;
    border-color: #6f8e40;

}

.pagination > li > a:hover {
    color: #fff;
    font-size: 11px;
    background-color: #222;
    border: 1px solid #111;
}

/*===== Data Table =====*/

/*===== Color ===== */
.theme-color {
    color: #525252 !important;
}

.green {
    color: #6f8e40 !important;
}

.default {
    color: #777 !important;
}

.widget .star1 i {
    color: #d9534f !important;
}

.danger {
    color: #d9534f !important;
}

.orange {
    color: darkorange !important;
}

.info {
    color: #5bc0de !important;
}

.primary {
    color: #428bca;
}

.success {
    color: #5cb85c !important;
}

.yellowgreen {
    color: yellowgreen;
}

.purple {
    color: #807198;
}

.purple-dark {
    color: #7E0B80;
}

.slate-blue {
    color: #483D8B;
}

.orchid {
    color: #DA70D6;
}

/*===== /Color ===== */

/*===== Form =====*/
.form-custom {

}

.form-custom .control-label {
    font-size: 12px;
    text-align: left;
    font-weight: 400;
}

.form-custom .checkbox label {
    font-weight: 300;
    font-size: 12px;
    font-style: italic;
}

.form-control {
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #D5D5D5;
    box-shadow: none;
    font-size: 13px;
}

.form-control:hover, .form-control:focus {
    border: 1px solid #DDD;
    text-shadow: none;
    box-shadow: none;
    background: #f9f9f9;
}

/*===== /Form =====*/

/*===== NOTIFICATION AREA =====*/
.notification-area {
    margin-bottom: 20px;
}

.notify {
    float: right;
    margin: 0px;
    padding: 0px;
}

.notify li {
    display: inline-block;
    padding: 15px 25px;
    text-align: center;
    border: 1px solid #DDD;
    background: #FFF;
}

.notify li:last-child {
    border-right: 0px;
}

.notify li a {
    font-size: 20px;
}

.notify li p {
    line-height: 10px;
}

/*=====/ NOTIFICATION AREA  =====*/

/*===== RECENT ACTIVITIES =====*/
img {
    border: 0;
    max-width: 100%;
}

.page-header h1 {
    font-size: 3.26em;
    text-align: center;
    color: #efefef;
    text-shadow: 1px 1px 0 #000;
}

/** timeline box structure **/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eee;
    left: 50%;
    margin-left: -1.5px;
}

.tldate {
    display: block;
    width: 200px;
    background: #222;
    border: 3px solid #222;
    border-radius: 3px;
    color: #ededed;
    margin: 0 auto;
    padding: 8px 0;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.35);
}

.timeline > li {
    margin-bottom: 25px;
    position: relative;
}

.timeline li:before, .timeline li:after {
    content: " ";
    display: table;
}

.timeline li:after {
    clear: both;
}

.timeline li:before, .timeline li:after {
    content: " ";
    display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
    width: 46%;
    float: left;
    background: #fff;
    border: 1px solid #d4d4d4;
    padding: 20px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/** panel arrows **/
.timeline li .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline li .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
    top: 0;
    right: 0;
    display: none;
    border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

/** timeline circle icons **/
.timeline li .tl-circ {
    position: absolute;
    top: 23px;
    left: 50%;
    text-align: center;
    background: #6f8e40;
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 35px;
    margin-left: -21px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 99999;
    font-size: 18px;
    line-height: 45px;
}

/** timeline content **/
.tl-heading {
    margin-bottom: 15px;
}

.tl-heading h4 {
    margin: 0;
    color: #6f8e40;
}

.tl-body p {
    font-size: 13px;
    line-height: 18px;
    color: #777;
}

.tl-body p, .tl-body ul {
    margin-bottom: 0;
}

/*
.tl-body > p + p {
    margin-top: 5px;
}*/

/** media queries **/
@media (max-width: 991px) {
    .timeline li .timeline-panel {
        width: 44%;
    }
}

@media (max-width: 700px) {
    .page-header h1 {
        font-size: 1.8em;
    }

    ul.timeline:before {
        left: 40px;
    }

    .tldate {
        width: 140px;
    }

    ul.timeline li .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline li .tl-circ {
        top: 22px;
        left: 22px;
        margin-left: 0;

    }

    ul.timeline > li > .tldate {
        margin: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

/*===== /RECENT ACTIVITIES =====*/

/*===== Extra CSS ======*/
.pagination li a {
    font-size: 11px;
    text-transform: uppercase;
}

.subtoal {
    padding: 15px 10px;
    text-align: right;
}


.event-modal{
    top: 100px !important;
}

.event-modal .modal-content{
    border-radius: 4px;
}

.event-modal .modal-header{
    padding: 10px 10px 0px 10px;
    background: #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.modal-header .close {
    font-size: 16px;
    font-weight: bold;
    opacity: .5;
}

.event-modal .modal-header .sm-title{
    text-align: center;
}


.event-modal .modal-footer{
    border-top: 0px;
}

.loadingEvent{
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 25px;
    color: #6f8e40;
}

.appointment-status{
    position: absolute;
    right: 30px;
    line-height: 50px;
    text-align: center;
}

.appointment-available{
    background: yellowgreen;
    color: #FFF;
    font-size: 50px;
    padding: 20px;
    border-radius: 50%;
}

.appointment-not-available{
    background: #d9534f;
    color: #FFF;
    font-size: 50px;
    padding: 20px 25px;
    border-radius: 50%;
}

.youAlreadyWaiting, .youAlreadyAppointed{
    position: absolute;
    bottom: 0px;
}

.vs-profile{
    width: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    box-shadow: 1px 2px 3px #777;
}

.sm-lesson-title{
    font-family: georgia;
    position: absolute;
    font-size: 9px;
    font-style: italic;
    color: #333;
    bottom: 5px;
}

/*=====/ Extra CSS =====*/

/*=====/ Setting Schedule Time =====*/
.set-schedule td{
    font-size: 11px;
    color: #777;
    font-weight: 700;
}

.set-schedule td{
    vertical-align: top !important;
}

.set-schedule td select, .set-schedule td input{
    font-weight: 700;
    font-size: 11px;
}

.set-schedule td:last-child, .set-schedule th:last-child{
    text-align: center;
}

.set-schedule th{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.schedule-to-form{
    width: 45%;
    float: left;
    margin: 1%;
}

.deleteRow {
    float: left;
    line-height: 40px;
}

.addScheduleRow{
    clear: both;
    cursor: pointer;
}
/*=====  Setting Schedule Time =====*/

/*==== CONTENT AREA ====*/
.content {
    padding: 0px 0px 25px 0px;
    margin-top: 25px;
}

.page-title {
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 0px;
    font-weight: bold;
    color: #525252;
}

.sm-title {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 0px;
    font-weight: bold;
    color: #525252;
}

/*======/ CONTENT AREA =====*/

/*===== FOOTER AREA =====*/
footer {
    background: #111;
    padding: 25px 0px;
}

.footer-text {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}

/*=====/ FOOTER AREA =====*/

/*===== Media Quires ======*/
@media (min-width: 768px) {

    .navbar-collapse li {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        -webkit-overflow-scrolling: touch;
        border-right: 1px solid #9abf63;
        border-left: 1px solid #6f8e40;
    }

    .navbar-nav > li > a {
        padding: 30px 25px;
    }

    .navbar-nav > .dropdown > a {
        padding: 23px 25px;
    }

    navbar-collapse li .active {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        -webkit-overflow-scrolling: touch;
        border-right: none;
        border-right: none;
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        color: #6f8e40;
        background-color: #FFF;
        padding-bottom: 31px;
    }

    .navbar-collapse li:first-child {
        border-left: none;
    }

    .navbar-collapse li:last-child {
        border-right: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

    .navbar-brand {
        position: absolute;
        left: 32%;

    }

    .navbar-header {
        height: 80px;
    }

    .navigation > li > .profile-dropdown li a {
        font-size: 12px;
        padding: 10px 15px;
        border-bottom: 1px solid #6f8e40;
        border-top: 1px solid #9abf63;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #6f8e40;
        background-color: #FFF;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #FFF;
    }

    .nav .navbar-nav li {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        -webkit-overflow-scrolling: touch;
        border-top: 1px solid #9abf63;
        border-bottom: 1px solid #6f8e40;
    }

    .short-notification {
        width: 100%;
    }

    .notify {
        float: left;
    }

    /*-- SIDEBAR AREA ---*/
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -52%;
    }

    .row-offcanvas-left.active {
        left: 52%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%;
        margin-left: 12px;
    }

    /*-- /SIDEBAR AREA  ---*/
    .page-title {
        margin-left: 7px;
    }

    .notify {
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }

    .notify li {
        width: 24%;
    }

    .fc-center {
        display: none !important;
    }

}

@media (max-width: 480px) {

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -53.5%;
    }

    .row-offcanvas-left.active {
        left: 53.5%;
    }

    .navbar-brand {
        position: absolute;
        left: 32%;
    }

    .page-title {
        margin-left: 7px;
    }

    .notify {
        text-align: center;
    }

    .notify li {
        width: 48%;
    }
}

@media (max-width: 320px) {
    .notify {
        text-align: center;
    }

    .notify li {
        width: 100%;
    }
}

.textbox {
    color: #FFF;
    border: 3px solid #AAA;
    height: 50px;
    width: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    float: left;
    box-shadow: 2px 5px 2px #CCC;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
}

.fc-unthemed{
    background: #FFF !important;
    padding: 15px;
    border: 1px solid #EEE;
    border-radius: 5px;
}

.fc-center h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 0px;
    font-weight: bold;
    color: #525252;
}

.fc th, .fc td {
    vertical-align: middle !important;
}

.fc-widget-header{
    height: 45px;
    vertical-align: middle !important;
    background: #F8f8f8;
    color: #777777;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.fc-slats td {
    height: 50px !important;
    border-bottom: 0;
}


.fc-ltr .fc-axis {
    text-align: center !important;
    width: 50px !important;



    background: #F8f8f8;
    color: #777777;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.fc-slats .fc-minor td {
    border-top-style: solid !important;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed hr, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
    border-color: #EEE !important;
}

.fc-ltr .fc-time-grid .fc-event-container {
    margin-right: 0px !important;
}

.fc-ltr .fc-time-grid .fc-event-container a{
    width: 100%;
    margin-right: 0px !important;
    left: 0% !important;
}

.fc-time-grid-event > .fc-content {
    height: 100%;
}

.fc-time-grid-event .fc-title {
    padding: 0 1px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px;
    color: #333;
}

/*
.fc-time-grid-event .fc-resizer:after {
    content: "" !important;
}*/

.popover{
    max-width: 500px !important;
    width: 350px !important;
    border: 1px solid #DDD;
    border-radius: 4px;
    box-shadow: none;
}

.popover-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #777;
    font-size: 12px !important;
}

.pop-profile-img{
    width: 50px;
    border-radius: 50%;
    right: 10px;
    top: 40px;
    position: absolute;
    border: 3px solid #CCC;
}

.event-popover{
    width: 200px !important;
    padding-bottom: 15px;
}

.event-popover a{
    font-weight: bold;
}

.datepicker > div {
    width: 250px;
}

.datepicker td span {
    width: 23% !important;
    text-transform: uppercase;
}