body {
    color: #777;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.padding-15 {
    padding: 15px;
}

.u-p {
    text-transform: uppercase;
}

a {
    color: #525252;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

a:focus, a:active {
    color: #333;
    outline: none;
    text-decoration: none;
}

.btn {
    border-radius: 0px;
}

.btn-theme {
    padding: 8px 20px;
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
    background: #222;
    border: 1px solid #000;
    text-shadow: none;
    border-radius: 0px;
}

.btn-theme:hover {
    color: #FFF;
    background: #333;
    border: 1px solid #000;
}

.btn-theme-small {
    padding: 3px 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
    background: #222;
    border: 1px solid #000;
    text-shadow: none;
    border-radius: 0px;
}

.btn-theme-small:hover {
    color: #FFF;
    background: #333;
    border: 1px solid #000;
}

.btn-theme-italic {
    font-family: Ubuntu;
    padding: 3px 10px;
    color: #FFF;
    font-weight: 300;
    font-size: 12px;
    background-color: #5bc0de;
    border-color: #46b8da;
    text-shadow: none;
    border-radius: 0px;
}

.btn-theme-italic:hover {
    color: #FFF;
    background: #333;
    border: 1px solid #000;
}

ul, li {
    list-style: none;
}

p {
    font-size: 14px;
    line-height: 28px;
}

.radius-5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-0 {
    margin: 0px;
}

.w-color {
    color: #FFF !important;
}

.flash-msg {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.alert {
    border-radius: 0px;
}

/*-----Custom Widget -----*/
.widget {
    margin-bottom: 25px;
    border: 1px solid #EEE;
}

.widget-header {
    font-size: 14px;
    padding: 15px;
}

.widget-body {

}

.widget-footer {
    padding: 15px;
}

.default-widget {
    border: 1px solid #EEE;
}

.default-widget .widget-header {
    color: #777;
    background: #f8f8f8;
    border-bottom: 1px solid #EEE;
}

.default-widget .widget-footer {
    color: #777;
    background: #f8f8f8;
    border-top: 1px solid #EEE;
}

.info-widget .widget-header {
    color: #FFF;
    background-color: #5bc0de;
    border-bottom: 1px solid #46b8da;
}

.info-widget .widget-footer {
    color: #FFF;
    background-color: #5bc0de;
    border-top: 1px solid #46b8da;
}

.black-widget .widget-header {
    color: #FFF;
    background-color: #222;
    border-bottom: 1px solid #000;
}

.black-widget .widget-footer {
    color: #FFF;
    background-color: #222;
    border-top: 1px solid #000;
}

.widget .table {
    font-size: 12px;
    margin-bottom: 0px;
}

.widget .table a {
    color: #428bca;
}

.widget .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

.widget .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #555;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.widget .table > thead > tr > th,
.widget .table > tbody > tr > th,
.widget .table > tfoot > tr > th,
.widget .table > thead > tr > td,
.widget .table > tbody > tr > td,
.widget .table > tfoot > tr > td {
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #EEE;
}

.widget .status .active {
    color: #5cb85c;
}

.widget .status .block {
    color: #d9534f;
}

.widget .status .suspend {
    color: #d9534f;
}

.widget .star5 i {
    color: #5cb85c;
}

.widget .star4 i {
    color: #428bca;
}

.widget .star3 i {
    color: #5bc0de;
}

.widget .star2 i {
    color: #f0ad4e;
}

.widget time {
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
}

.widget small {
    font-size: 11px;
    font-style: italic;
}

.widget a {
    color: #428bca;
}

.box-widget {
    margin-bottom: 30px;
    padding-top: 20px;
    height: 160px;
    background: #fff;
    border: 1px solid #EEE;
    text-align: center;
}

/*
.box-widget:hover{
    background: #f8f8f8;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
*/

.box-widget h4 {
    font-size: 14px;
    margin: 0px;
    color: #999;
}

.box-widget h2 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.arrow-btn, .arrow-btn:hover {
    margin-top: 15px;
}

/*----- Custom Widget -----*/

/*----- Custom Box Area -------*/
.box {
    margin-bottom: 25px;
}

.box-header {
    font-size: 13px;
    font-weight: 600;
    padding: 10px 15px;
}

.box-body {

}

.box-footer {
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 600;
}

.box-default {
    border: 1px solid #e5e5e5;
}

.box-default .box-header{
    background: #f8f8f8;
    border-bottom: 1px solid #DDD;
}


.box-default .box-footer{
    background: #f8f8f8;
    border-top: 1px solid #DDD;
}
/*----- /Custom Box Area -------*/

/*----- Table -----*/
.table {
    font-size: 12px;
    margin-bottom: 0px;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #555;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #EEE;
}

.table a {
    /*color: #428bca;*/
}

.status .active {
    color: #5cb85c;
}

.status .block {
    color: #d9534f;
}

.status .suspend {
    color: #d9534f;
}

/*-----/ Table -----*/

/* ----- Color ------ */
.default {
    color: #777;
}

.widget .star1 i {
    color: #d9534f;
}

.danger {
    color: #d9534f;
}

.warning {
    color: #f0ad4e;
}

.info {
    color: #5bc0de;
}

.primary {
    color: #428bca;
}

.success {
    color: #5cb85c !important;
}
.form-control {
    margin-bottom: 5px;
    border-radius: 0px;
    border: 1px solid #EEE;
    box-shadow: none;
    font-size: 13px;
    font-style: italic;
}

.form-control:hover, .form-control:focus {
    border: 1px solid #DDD;
    text-shadow: none;
    box-shadow: none;
    background: #f9f9f9;
}

/* ----- /Color ------ */

/*----- Utilities -----*/
.shadow-line {
    margin: 0px 0px 15px 0px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #ffffff;
}

hr {
    margin-top: 0px;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

.heading-sm {
    font-size: 12px;
    margin: 5px 0px 0px 0px;
    padding-bottom: 10px;
}

.normal-list {
    font-size: 12px;
    font-weight: 500;
}

.normal-list li {
    margin-bottom: 10px;
}

.italic-md {
    color: #999;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
}

.italic-sm {
    color: #999;
    font-weight: 400;
    font-size: 11px;
    font-style: italic;
    line-height: 18px;
}

.note {
    margin: 10px 0px;
    color: #d9534f;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
}



fieldset {
    color: #777;
    width: 100%;
    border: 1px solid #ddd !important;
    padding: 15px 15px 15px 15px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 0px 0px #EEE;
    box-shadow: 0px 0px 0px 0px #EEE;
}

legend {
    color: #777;
    font-size: 15px;
    font-weight: 400;
    text-align: left !important;
    font-style: italic;
    width: auto;
    padding: 0 10px;
    margin-bottom: 15px;
    border-bottom: none;
}

.form-list {
    margin: 0px;
    padding: 0px;
}

.form-list li {
    margin-bottom: 20px;
    font-size: 12px;
}

.form-list li input {
    text-align: center;
    border: 1px solid #EEE;
    padding: 0px 10px;
    width: 50px;
    height: 30px;
}

.input-black {
    color: #FFF;
    background: #222;
}

.input-gray {
    color: #777;
    background: #f8f8f8;
}

.input-red {
    color: #FFF;
    background: #d9534f;
}

.input-warning {
    color: #FFF;
    background: #f0ad4e;
}

.input-info {
    color: #FFF;
    background: #5bc0de;
}

.input-green {
    color: #FFF;
    background: #5cb85c;
}

.img-profile {
    text-align: center;
}

.img-profile img {
    border: 5px solid #DDD;
    width: 170px;
}

.data-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.data-list li {
    color: #555;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 400;
}

.data-list strong {
    font-size: 12px;
    margin-right: 10px;
    font-weight: 600;
}

.data-list li a{
    color: #428bca;
}

.data-list .btn {
    color: #FFF;
}

.navigation-list {
    margin: 0px;
    padding: 0px;
    margin-top: 25px;
}

.navigation-list li a {
    border-bottom: 1px solid #EEE;
    color: #777;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
}

.recommended-resources {
    margin-bottom: 30px;
}

.recommended-resources .media-heading {
    color: #555;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    line-height: 16px;
}

.recommended-resources .media-object {
    max-width: 100px;
}

.recommended-resources .btn {
    margin-top: 10px;
    color: #FFF;
    padding-left: 7px;
    padding-left: 7px;
}

/*----- /Utilities -----*/

/*----- Form -----*/
.form-custom {

}

.form-custom .control-label {
    font-size: 12px;
    text-align: left;
    font-weight: 400;
}

.form-custom .checkbox label {
    font-weight: 300;
    font-size: 12px;
    font-style: italic;
}

/*----- /Form -----*/

/*---- Scoring Box -----*/
.scoring-box {
    background: #f8f8f8;
    border: 1px solid #f1f1f1;
    padding-bottom: 10px;
}

.scoring-title {
    font-size: 12px;
    font-weight: 500;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid #DDD;
}

.scoring-body {
    padding: 10px;
    background: #FFF;
}

.scoring-body .form-control {
    margin-bottom: 0px;
}

.scoring-body .progress {
    height: 15px;
    margin-bottom: 10px;
    border-radius: 0px;
}

.scoring-img-bundle {
    width: 99%;
    margin: 15px 0px;
    text-align: center;
}

.scoring-img {
    width: 28%;
    background: #EEE;
    padding-left: 3px;
    border: 1px solid #DDD;
    margin: 5px;
}


.scoring-single-img .scoring-img{
    width: 100%;
    margin: 15px 0px;
    text-align: center;
    padding: 0px;
    border: 0px;
}
/*-----/ Scoring Box -----*/

/*===== HEADER =====*/
.header {

}

.navbar {
    border-radius: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
    font-weight: 300;
    font-size: 12px;
}

.header .navbar-brand,
.header .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
}

.navbar-collapse {
    max-height: 600px;
}

.navigation > li > .dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.navigation > li > .dropdown-menu li {
    border: none;
}

.navigation > li > .dropdown-menu li a {
    color: #555;
    font-size: 12px;
    padding: 10px 15px;
    border-bottom: 1px solid #DDD;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #555;
    text-decoration: none;
    outline: 0;
    background-color: #f8f8f8;
}

.small-pic {
    width: 20px;
    border: 2px solid #222;
}

.name {
    color: #428bca;
}

/*===== /HEADER =====*/

/*===== SIDEBAR =====*/
.admin-sidebar {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #DDD;
    border-bottom: 0px;
}

/*===== SIDEBAR =====*/

/*===== Notifications =====*/
.notification-area {
    margin-bottom: 20px;
}

.notify {
    float: right;
    margin: 0px;
    padding: 0px;
}

.notify li {
    display: inline-block;
    padding: 0px 25px;
    text-align: center;
    border-right: 1px solid #f1f1f1;
}

.notify li:last-child {
    border-right: 0px;
}

.notify li a {
    font-size: 20px;
}

.notify li p {
    line-height: 10px;
}

/*=====/ Notifications =====*/

/*====== Payment ======*/
.payment{

}

.payment .control-label{
    text-align: left;
    font-weight: 500;
    font-size: 12px;
}

.payment .form-group{
    margin: 40px 0px;
}

.payment .form-control{
    font-size: 12px;
    font-style: normal;
    color: #777;
}

.payment img{
    height: 65px;
}
/*======/ Payment =====*/

/*==== Plan Page =====*/
.plan{
    padding: 15px;
    border-bottom: 1px solid #DDD;
}

.plan-head{
    border-bottom: 1px solid #EEE;
    margin-bottom: 25px;
}

.plan-name{
    color: #46b8da;
    padding-bottom: 10px;
    font-size: 18px;
}

.plan .data-list .fa{
    color: #5cb85c;
}

.plan-price{
    font-size: 12px;
    font-weight: 500;
}
/*==== /Plan Page =====*/

/*==== Dashboard Page ====*/
.dashboards-content {
    padding: 0px 0px 25px 0px;
    margin-top: 25px;
}

.dashboard-bar {
    margin-bottom: 25px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 15px;
}

.page-title {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    font-style: italic;
    font-weight: 400;
}

.profile-pic-md {
    margin-top: 10px;
    margin-bottom: 15px;
}

.button-area {
    text-align: right;
    margin-bottom: 15px;
}


.profile-pic-small{
    width: 100px;
}
/*=====/ Dashboard Page =====*/

/*===== CONTENT =====*/
.content {
    padding: 0px 0px;
}

/*===== /CONTENT =====*/

/*====== FOOTER =====*/
.footer {
    background: #101010;
    padding: 15px 0px;
    text-align: center;
}

/*====== /FOOTER =====*/

/*====== Social Media Icon ======*/
.social-media-list {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.btn-social, .btn-social:hover {
    font-size: 16px;
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 220px;
    padding: 10px 20px;
    color: #FFF !important;
    text-shadow: 0px 1px 1px #333;
    letter-spacing: 0.5px;
}

.facebook {
    background-color: #6B86BC;
    background-image: -moz-linear-gradient(#6B86BC, #364F83);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6B86BC), to(#364F83));
    background-image: -webkit-linear-gradient(#6B86BC, #364F83);
    background-image: -o-linear-gradient(#6B86BC, #364F83);
    border: 1px solid #364F83;
}

.facebook:hover {
    background-color: #364F83;
    background-image: -moz-linear-gradient(#4C6AAA, #364F83);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C6AAA), to(#364F83));
    background-image: -webkit-linear-gradient(#4C6AAA, #364F83);
    background-image: -o-linear-gradient(#4C6AAA, #364F83);
    border: 1px solid #243559;
}

.twitter {
    background-color: #85CDE9;
    background-image: -moz-linear-gradient(#85CDE9, #2291BE);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85CDE9), to(#2291BE));
    background-image: -webkit-linear-gradient(#85CDE9, #2291BE);
    background-image: -o-linear-gradient(#85CDE9, #2291BE);
    border: 1px solid #2291BE;
}

.twitter:hover {
    background-color: #2291BE;
    background-image: -moz-linear-gradient(#50B3DB, #2291BE);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#50B3DB), to(#2291BE));
    background-image: -webkit-linear-gradient(#50B3DB, #2291BE);
    background-image: -o-linear-gradient(#50B3DB, #2291BE);
    border: 1px solid #2291BE;
}

.linkedin {
    background-color: #007bb6;
    background-image: -moz-linear-gradient(#007bb6, #0173a8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007bb6), to(#0173a8));
    background-image: -webkit-linear-gradient(#007bb6, #0173a8);
    background-image: -o-linear-gradient(#007bb6, #0173a8);
    border: 1px solid #0173a8;
}

.linkedin:hover {
    background-color: #0173a8;
    background-image: -moz-linear-gradient(#046189, #0173a8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#02567c), to(#0173a8));
    background-image: -webkit-linear-gradient(#046189, #0173a8);
    background-image: -o-linear-gradient(#046189, #0173a8);
    border: 1px solid #0173a8;
}

.google {
    background-color: #dc4937;
    background-image: -moz-linear-gradient(#dc4937, #d13a29);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dc4937), to(#d13a29));
    background-image: -webkit-linear-gradient(#dc4937, #d13a29);
    background-image: -o-linear-gradient(#dc4937, #d13a29);
    border: 1px solid #d13a29;
}

.google:hover {
    background-color: #ad2925;
    background-image: -moz-linear-gradient(#ad2925, #aa302e);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ad2925), to(#aa302e));
    background-image: -webkit-linear-gradient(#ad2925, #aa302e);
    background-image: -o-linear-gradient(#ad2925, #aa302e);
    border: 1px solid #ad2925;
}

/*====== Social Media Icons =====*/

/*=====Media Quires======*/
@media (min-width: 768px) {
    .navbar-collapse li {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        -webkit-overflow-scrolling: touch;
        border-right: 1px solid #101010;
        border-left: 1px solid #353535;
    }

    .navbar-collapse li:first-child {
        border-left: none;
    }

    .navbar-collapse li:last-child {
        border-right: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
    .navigation > li > .dropdown-menu li a {
        color: #555;
        font-size: 12px;
        padding: 10px 15px;
        border-bottom: 1px solid #101010;
        border-top: 1px solid #353535;
    }

    .content {
        padding: 0px;
    }

    .notification-area {
        text-align: center;
    }

    .notify {
        float: none;
    }
}

@media (max-width: 480px) {
    .btn-social, .btn-social:hover {
        font-size: 14px !important;
        padding: 10px 12px;
    }
}

@media (max-width: 320px) {
    .btn-social, .btn-social:hover {
        min-width: 150px;
        font-size: 12px !important;
        padding: 8px 12px;
    }
}

/*=====/Media Quires======*/

/*----- Extra CSS -----*/
.pagination li a {
    font-size: 11px;
    text-transform: uppercase;
}

.subtoal{
    padding: 15px;
    text-align: right;
}
/*-----/ Extra CSS ----*/

/* Chart */

#bar-chart,#bar-chart-black,#curve-chart,#live-chart,#pie-chart,#pie-chart2,#pie-chart3{
    height: 250px;
    max-width: 100%;
}

#pie-chart,#pie-chart2,#pie-chart3{
    max-width: 300px;
    margin: 10px auto;
}

/* Support page */
.e{
    font-family: 'Roboto Condensed', sans-serif !important;
}
